
td {
  padding: 0 8px;
}

td.left {
  text-align: left;
}

td.center {
  text-align: center;
}

td.right {
  text-align: right;
}

input {
  text-align: center;
}

body {
  background-color: #f0f0f0;
}
