{% autoescape true %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link type="text/css" rel="stylesheet" href="/stylesheets/shared.css" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/blue/style.css" media="print, projection, screen" />
  <title>{% block title %}{% endblock %}</title>
  <script type="text/javascript" language="javascript" src="/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
  {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
  {% block footer %}
  <hr/>
  <font size=-1>
    <i>League Manager: <a href="mailto:steve@oharasteve.com">CJ Robinson</a> </i>
    <br/>
    <i>Web Issues: <a href="mailto:steve@oharasteve.com">steve@oharasteve.com</a></i>
  </font>
  {% endblock %}
</div>
</body>
</html>
{% endautoescape %}
