{% extends "/html/base_template.html" %}
{% block title %}ASPA{% endblock %}
{% block head %}
  {{ super() }}
<style>
* { box-sizing: border-box; }

html, body {
  margin: 0;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

.chart {
  display: grid;
  grid-template-columns: repeat(200, 1fr);
  grid-row-gap: 5px;
  width: 70vw;
  padding: 10px 5px;
}

.bar {
  border-radius: 0 5px 5px 0;
  background-color: var(--skill);
  grid-column-start: var(--start);
  grid-column-end: 100;
  text-align: right;
}
.rbar {
  border-radius: 5px 0 0 5px;
  background-color: var(--skill);
  grid-column-end: var(--start);
  grid-column-start: 100;
}

.win {
  grid-column-start: 1;
  grid-column-end: 100;
  text-align: center;
}
.loss {
  grid-column-end: 201;
  grid-column-start: 100;
  text-align: center;
}

</style>
{% endblock %}

{% block header %}
  <h1 class="text-center">American Straight Pool Association</h1>

  <h2 class="text-center">Play history</h2>
{% endblock %}

{% block content %}
  <h2 class="text-center">{{ player.firstName }} {{ player.lastName }}</h2>

<div class="chart">
      {%- for entry in match_details %}
            {%- if entry.win_mgn %}
                <div class="win">
                  {{ entry.date|datetimeformat('%Y-%m-%d') }}<a href="{{ entry.opponent_details_page_url }}">
                  {{ entry.opponent.player_obj.firstName }} {{ entry.opponent.player_obj.lastName }}</a>
                </div>
                <div class="bar" style='--start: {{ 100 + entry.win_mgn }}; --skill: {{ entry.opp_skill_color }} '>{{ entry.win_mgn }}</div>
            {%- else %}
            <div class="rbar" style='--start: {{ 100 - entry.lose_mgn }}; --skill: {{ entry.opp_skill_color }}'>{{ entry.lose_mgn }}</div>
                <div class="loss">
                    {{ entry.date|datetimeformat('%Y-%m-%d') }}<a href="{{ entry.opponent_details_page_url }}">
                    {{ entry.opponent.player_obj.firstName }} {{ entry.opponent.player_obj.lastName }}</a>
                </div>
            {%- endif %}
      {%- endfor %}
</div>
<div>
    <span style="background: #FFFFE5">400</span>
    <span style="background: #FFF7BC">450</span>
    <span style="background: #FEE391">500</span>
    <span style="background: #FEC44F">550</span>
    <span style="background: #FB9A29">600</span>
    <span style="background: #EC7014">650</span>
    <span style="background: #CC4C02">700</span>
</div>

  <a href="/{{club.key.id()}}/">Home</a>
{%- endblock %}

