{% extends "/html/base_template.html" %}
{% block title %}ASPA {{ season.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#player-summary").tablesorter({
      sortList:[[0,1]],  // sort by date ascending.
      headers: { 8: { sorter: false}, 9: {sorter: false} },  // not allow sorting by name
      widgets: ['zebra'],
      cssAsc: "header-sort-up",
      cssDesc: "header-sort-down"
    });
  });
  </script>
{% endblock %}

{% block header %}
  <h1 class="text-center">American Straight Pool Association</h1>
  {%- if season %}
  <h2 class="text-center">
    {{ season.name }}: {{ season.startDate|datetimeformat('%b %d, %Y') }} to {{ season.endDate|datetimeformat('%b %d, %Y') }}
  </h2>
  {%- endif %}

{% endblock %}

{% block content %}
  <h2 class="text-center">{{ player.firstName }} {{ player.lastName }}</h1>
  <div>
    <h3>Overall</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>H'cap</th>
          <th>Won</th>
          <th>Lost</th>
          <th>Forfeits</th>
          <th>Win %</th>
          <th>Points</th>
          <th>High Run</th>
          <th>Target</th>
          <th>% Goal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ player.firstName }}</td>
          <td>{{ player.lastName }}</td>
          <td>{{ summary.handicap }}</td>
          <td>{{ summary.wins }}</td>
          <td>{{ summary.losses }}</td>
          <td>{{ summary.forfeits }}</td>
          <td>{{ summary.pct }}</td>
          <td>{{ summary.points }}</td>
          <td>{{ summary.highRun }}</td>
          <td>{{ summary.highRunTarget }}</td>
          <td>{{ summary.goal }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Game by Game</h3>
    <table id="player-summary" class="table table-hover table-condensed sortable-table">
      <thead>
        <tr>
          <th class="sortable-header">Date</th>
          <th class="sortable-header">Result</th>
          <th class="sortable-header">H'cap</th>
          <th class="sortable-header">Points</th>
          <th class="sortable-header">Target</th>
          <th class="sortable-header">High Run</th>
          <th class="sortable-header">Win By</th>
          <th class="sortable-header">Lose By</th>
          <th>First</th>
          <th>Last</th>
          <th class="sortable-header">H'cap</th>
          <th class="sortable-header">Points</th>
          <th class="sortable-header">Target</th>
          <th class="sortable-header">High Run</th>
        </tr>
      </thead>
      <tbody>
      {%- for entry in match_details %}
        <tr>
          <!--
          <td>{{ entry.entry_index }}</td>
          -->
          <td><a href="{{ entry.results_pdf_url }}">{{ entry.date|datetimeformat('%Y-%m-%d') }}</a></td>
          <td>{{ entry.result }}</td>
          <td>{{ entry.player.handicap }}</td>
          <td>{{ entry.player.score }}</td>
          <td>{{ entry.player.target }}</td>
          <td>{{ entry.player.highRun }}</td>
          <td>{{ entry.win_mgn }}</td>
          <td>{{ entry.lose_mgn }}</td>
          <td><a href="{{ entry.opponent_details_page_url }}">{{ entry.opponent.player_obj.firstName }}</a></td>
          <td><a href="{{ entry.opponent_details_page_url }}">{{ entry.opponent.player_obj.lastName }}</a></td>
          <td>{{ entry.opponent.handicap }}</td>
          <td>{{ entry.opponent.score }}</td>
          <td>{{ entry.opponent.target }}</td>
          <td>{{ entry.opponent.highRun }}</td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>

  <a href="/">Home</a>
{%- endblock %}
