{% autoescape true %}
<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/shared.css" />
  <title>ASPA {{ season.name }}</title>
  <script language="JavaScript1.2" src="/js/tablesort.js"></script>
</head>
<body>
  <center>
  <h1>American Straight Pool Association</h1>
  {% if season %}
  <h2>
    {{ season.name }}: {{ season.startDate|datetimeformat('%b %d, %Y') }} to {{ season.endDate|datetimeformat('%b %d, %Y') }}
  </h2>
  {% endif %}

  <h1>
      ASPA {{ season.name }}: {{ player.firstName }} {{ player.lastName }}
  </h1>

  <table class="details">
    <thead>
      <tr>
        <th class="hdr num">#</th>
        <th class="hdr num">Date</th>
        <th class="hdr nocase">Result</th>
        <th class="hdr num">H'cap</th>
        <th class="hdr num">Points</th>
        <th class="hdr num">Target</th>
        <th class="hdr num">High Run</th>
        <th class="hdr nocase">First</th>
        <th class="hdr nocase">Last</th>
        <th class="hdr num">H'cap</th>
        <th class="hdr num">Points</th>
        <th class="hdr num">Target</th>
        <th class="hdr num">High Run</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in match_details %}
      <tr class="{{ entry.alternate_class }}">
        <td class="center">{{ entry.entry_index }}</td>
        <td class="right"><a href="{{ entry.results_pdf_url }}">{{ entry.date|datetimeformat('%Y-%m-%d') }}</a></td>
        <td class="center">{{ entry.result }}</td>
        <td class="right">{{ entry.player.handicap }}</td>
        <td class="right">{{ entry.player.score }}</td>
        <td class="right">{{ entry.player.target }}</td>
        <td class="right">{{ entry.player.highRun }}</td>
        <td class="left"><a href="{{ entry.opponent_details_page_url }}">{{ entry.opponent.player_obj.firstName }}</a></td>
        <td class="left"><a href="{{ entry.opponent_details_page_url }}">{{ entry.opponent.player_obj.lastName }}</a></td>
        <td class="right">{{ entry.opponent.handicap }}</td>
        <td class="right">{{ entry.opponent.score }}</td>
        <td class="right">{{ entry.opponent.target }}</td>
        <td class="right">{{ entry.opponent.highRun }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
  </center>

  <p>Wins: {{ summary.wins }}, Losses: {{ summary.losses }}</p>
  <br/>
  <p>High Run: {{ summary.highRun }}, Target: {{ summary.highRunTarget }}</p>

  <hr/>
  <font size=-1>
    <!--
    <i>Last Updated: {{ page.last_updated_date }}</i>
    <br/>
    -->
    <i>League Manager: <a href="mailto:{{ league_manager.email }}">{{ league_manager.name }}</a> </i>
    <br/>
    <i>Web Issues: <a href="mailto:{{ site_admin.email }}">{{ site_admin.name }}</a>
    </i>
  </font>
</body>
</html>
{% endautoescape %}
