{% extends "/html/base_template.html" %}
{% block title %}ASPA {{ season.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#player-summary").tablesorter({
      sortList:[[0,1]],  // sort by date ascending.
      headers: { 8: { sorter: false}, 9: {sorter: false} },  // not allow sorting by name
      widgets: ['zebra'],
      cssAsc: "header-sort-up",
      cssDesc: "header-sort-down"
    });
  });
  </script>
{% endblock %}

{% block header %}
  <h1 class="text-center">American Straight Pool Association</h1>
  {%- if season %}
  <h2 class="text-center">
    {{ season.name }}: {{ season.startDate|datetimeformat('%b %d, %Y') }} to {{ season.endDate|datetimeformat('%b %d, %Y') }}
  </h2>
  {%- endif %}

{% endblock %}

{% block content %}
  <h2 class="text-center">{{ player.firstName }} {{ player.lastName }}</h1>
  <div>
    <h3>Overall</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-center">H'cap</th>
          <th class="text-center">Won</th>
          <th class="text-center">Lost</th>
          <th class="text-center">Forfeits</th>
          <th class="text-center">Win %</th>
          <th class="text-center">Points</th>
          <th class="text-center">High Run</th>
          <th class="text-center">Target</th>
          <th class="text-center">% Goal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">{{ player.firstName }} {{ player.lastName }}</td>
          <td class="text-center">{{ summary.handicap }}</td>
          <td class="text-center">{{ summary.wins }}</td>
          <td class="text-center">{{ summary.losses }}</td>
          <td class="text-center">{{ summary.forfeits }}</td>
          <td class="text-center">{{ '%.2f' % summary.pct }}</td>
          <td class="text-center">{{ '%.6f' % summary.points }}</td>
          <td class="text-center">{{ summary.highRun }}</td>
          <td class="text-center">{{ '%.2f' % summary.highRunTarget }}</td>
          <td class="text-center">{{ '%.2f' % summary.goal }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Game by Game</h3>
    <table id="player-summary" class="table table-hover table-condensed sortable-table">
      <thead>
        <tr>
          <th class="sortable-header text-left">Date</th>
          <th class="sortable-header text-center">Result</th>
          <th class="sortable-header text-center">H'cap</th>
          <th class="sortable-header text-center">Score</th>
          <th class="sortable-header text-center">High Run</th>
          <th class="sortable-header text-center">Win By</th>
          <th class="sortable-header text-center">Lose By</th>
          <th class="text-left">Opponent</th>
          <th class="sortable-header text-center">H'cap</th>
          <th class="sortable-header text-center">Score</th>
          <th class="sortable-header text-center">High Run</th>
        </tr>
      </thead>
      <tbody>
      {%- for entry in match_details %}
        <tr>
          <!--
          <td>{{ entry.entry_index }}</td>
          -->
          <td class="text-left"><a href="{{ entry.results_pdf_url }}">{{ entry.date|datetimeformat('%Y-%m-%d') }}</a></td>
          <td class="text-center">{{ entry.result }}</td>
          <td class="text-center">{{ entry.player.handicap }}</td>
          <td class="text-center">{{ entry.player.score }} / {{ entry.player.target }}</td>
          <td class="text-center">{{ entry.player.highRun }}</td>
          <td class="text-center">{{ entry.win_mgn }}</td>
          <td class="text-center">{{ entry.lose_mgn }}</td>
          <td class="text-left"><a href="{{ entry.opponent_details_page_url }}">
              {{ entry.opponent.player_obj.firstName }} {{ entry.opponent.player_obj.lastName }}</a></td>
          <td class="text-center">{{ entry.opponent.handicap }}</td>
          <td class="text-center">{{ entry.opponent.score }} /  {{ entry.opponent.target }}</td>
          <td class="text-center">{{ entry.opponent.highRun }}</td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>

  <a href="/">Home</a>
{%- endblock %}
