{% extends "/html/base_template.html" %}
{% block title %}ASPA {{ season.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <style>
.leader { background-color: yellow; }
.half   { background-color: darkgreen; color: white}
  </style>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#players-summary").tablesorter({
      sortList:[[1, 1]],  // sort by points descending
      headers: { },
      cssAsc: "header-sort-up",
      cssDesc: "header-sort-down"
    });
  });
  </script>
{% endblock %}

{% block header %}
  <h1 class="text-center">American Straight Pool Association</h1>
  {%- if season %}
  <h2 class="text-center">
    {{ club.name }}<br>
    {{ season.name }}: {{ season.startDate|datetimeformat('%b %d, %Y') }} to {{ season.endDate|datetimeformat('%b %d, %Y') }}
  </h2>
  updated: {{ updated }}
  {%- endif %}
{% endblock %}

{% block content %}

  Most runs: {{highestRunCount}}

  <table id="players-summary" border=1 class="table table-hover table-condensed sortable-table">
    <thead>
      <tr>
        <th class="sortable-header text-left">Name</th>
        <th class="sortable-header text-center">H'cap</th>
        <th class="sortable-header text-center">Target</th>
        <th class="sortable-header text-center">Best</th>
        <th class="sortable-header text-center">2nd</th>
        <th class="sortable-header text-center">3rd</th>
        <th class="sortable-header text-center">4th</th>
        <th class="sortable-header text-center">5th</th>
        <th class="sortable-header text-center">1/2 runs</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in player_summaries %}
      <tr
          {% if entry.summary.highRunCount == highestRunCount %}
          class="leader"
          {% endif %}
            >
        <td class="text-left"><a href="{{ entry.details_page_url }}">
            {{ entry.player.firstName }} {{ entry.player.lastName }}</a></td>
        <td class="text-center">{{ entry.player.handicap }}</td>
        <td class="text-right">{{ '%.2f' % entry.summary.highRunTarget }}</td>
        <td
          {% if entry.summary.highRuns[0]|default(0) >= entry.summary.highRunTarget/2 %}
          class="half text-center"
          {% endif %}
            class="text-center">{{ entry.summary.highRuns[0] }}</td>
        <td
          {% if entry.summary.highRuns[1]|default(0) >= entry.summary.highRunTarget/2 %}
          class="half text-center"
          {% endif %}
            class="text-center">{{ entry.summary.highRuns[1] }}</td>
        <td
          {% if entry.summary.highRuns[2]|default(0) >= entry.summary.highRunTarget/2 %}
          class="half text-center"
          {% endif %}
            class="text-center">{{ entry.summary.highRuns[2] }}</td>
        <td
          {% if entry.summary.highRuns[3]|default(0) >= entry.summary.highRunTarget/2 %}
          class="half text-center"
          {% endif %}
            class="text-center">{{ entry.summary.highRuns[3] }}</td>
        <td
          {% if entry.summary.highRuns[4]|default(0) >= entry.summary.highRunTarget/2 %}
          class="half text-center"
          {% endif %}
            class="text-center">{{ entry.summary.highRuns[4] }}</td>
        <td class="text-right">{{ entry.summary.highRunCount }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  <p>Weeks: {{ weeks }}, Matches: {{ matches }}
  
  <div>
    Season:
    <select name="season_select" id="season_select"
        onchange="window.location=window.location.origin+'/{{club.key.id()}}/?Season='+season_select.value;">
      {%- for ssn in seasonList %}
        <option value="{{ ssn.id }}" {%- if ssn.id == season.key.id() %}selected{%- endif %}>{{ ssn.name }}</option>
      {%- endfor %}
    </select>
  </div>
  <div>
    <a href="/{{club.key.id()}}/suggest/">Suggest Match</a>
  </div>
{%- endblock %}
