{% extends "/html/base_template.html" %}
{% block title %}ASPA {{ season.name }}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#players-summary").tablesorter({
      sortList:[[7, 1]],  // sort by points descending
      headers: { },
      widgets: ['zebra'],
      cssAsc: "header-sort-up",
      cssDesc: "header-sort-down"
    });
  });
  </script>
{% endblock %}

{% block header %}
  <h1 class="text-center">American Straight Pool Association</h1>
  {%- if season %}
  <h2 class="text-center">
    {{ season.name }}: {{ season.startDate|datetimeformat('%b %d, %Y') }} to {{ season.endDate|datetimeformat('%b %d, %Y') }}
  </h2>
  {%- endif %}
{% endblock %}

{% block content %}
  <table id="players-summary" class="table table-hover table-condensed sortable-table">
    <thead>
      <tr>
        <th class="sortable-header text-center">Seq</th>
        <th class="sortable-header text-left">Name</th>
        <th class="sortable-header text-center">H'cap</th>
        <th class="sortable-header text-center">Won</th>
        <th class="sortable-header text-center">Lost</th>
        <th class="sortable-header text-center">Forfeits</th>
        <th class="sortable-header text-center">Win %</th>
        <th class="sortable-header text-center">Points</th>
        <th class="sortable-header text-center">High Run</th>
        <th class="sortable-header text-center">Target</th>
        <th class="sortable-header text-center">% Goal</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in player_summaries %}
      <tr>
        <td class="text-center">{{ entry.entry_index }}</td>
        <td class="text-left"><a href="{{ entry.details_page_url }}">
            {{ entry.player.firstName }} {{ entry.player.lastName }}</a></td>
        <td class="text-center">{{ entry.summary.handicap }}</td>
        <td class="text-center">{{ entry.summary.wins }}</td>
        <td class="text-center">{{ entry.summary.losses }}</td>
        <td class="text-center">{{ entry.summary.forfeits }}</td>
        <td class="text-right">{{ '%.2f' % entry.summary.pct }}</td>
        <td class="text-right">{{ '%.6f' % entry.summary.points }}</td>
        <td class="text-center">{{ entry.summary.highRun }}</td>
        <td class="text-right">{{ '%.2f' % entry.summary.highRunTarget }}</td>
        <td class="text-right">{{ '%.2f' % entry.summary.goal }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  <p>Weeks: {{ weeks }}, Matches: {{ matches }}
  
  <div>
    Season:
    <select name="season_select" id="season_select"
        onchange="window.location=window.location.origin+'?Season='+season_select.value;">
      {%- for ssn in seasonList %}
        <option value="{{ ssn.id }}" {%- if ssn.id == season.key.id() %}selected{%- endif %}>{{ ssn.name }}</option>
      {%- endfor %}
    </select>
  </div>
{%- endblock %}
